* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid, 2px;
  font-family: Arial;
}

body{
  height: 100vh;
}

/* Se podía quitar y queda igual */
/* .contenedor {
  height: 100%;
} */

.principalIzq {
  box-sizing: border-box;
  float: left;

  width: 50%;
  height: 100vh;

  padding: 10px;
  border: 1px solid black;
}

.seccionIzq {
  box-sizing: border-box;
  margin-bottom: 10px;

  height: calc(45% - 10px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}

.seccionIzq.encabezado {
  display: flex;
  justify-content: center;
  align-items:end;

  height: 10%;
  border: 0px;
}

.contAciertos {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 100%;
  margin: 0 0px;

  border: 1px solid black;

}