/* Esta solo es la estructura de prueba */

body{
    display: grid;
    height: 97vh;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 10% 1fr;
    border: 1px solid black;
grid-template-areas: 
    'header header'
    'main gird-padre';
    background-color: aqua;
}

/* Esto solo centra todos contenidos */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Este es el grid le cambie los nombres solo para quiarme 😅😅😅 */
#grid-padre{
    display: grid;
    grid-area: gird-padre;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows:  repeat(4 , 1fr);
    background-color: wheat;
    padding: 5%;
    gap: 10%;
}
/* El estilo de los items */
.grid-item{
    background-color: chocolate;
    border: 1px solid black;
    padding: 10px;
    width: 80%;
}

/* Solo asigna un area a cada uno */
main{
    background-color: azure;
    grid-area: main;
}
header{
    background-color: brown;
    grid-area: header;
}