/*? Diseño del CSS básico combinado*/


/** CARACTERÍSTICAS BÁSICAS */

* {
    margin: 0;
    box-sizing: border-box;
    border-radius: 15px;
}

    body{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 10% 1fr;
    grid-template-areas: 
        'header header'
        'main gird-padre';
        background-color: rgba(0, 186, 22, 0.023);
        border-radius: 0px;

        background-color: #ffffff43;
    }


    .centrado{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    /* ========================================================================= */
    /* ========================================================================= */
    
    /** HEADER Y ELEMENTOS */
    
    header{
        flex-direction: column;
        font-size: 100%;

        background-color: rgb(64, 46, 0);
        grid-area: header;
        border-radius: 0px;
    }
  
  /* ========================================================================= */
  /* ========================================================================= */
    
    
    /** MAIN Y ELEMENTOS */

    .main {
        flex-direction: column;
        gap: 2rem;
    }

    .enunciado {
        display: block;
        width: 40% ;
        height: 20%;
        border-radius: 200px;
        
        text-align: center;

        background-color: pink;
        padding: 1rem;
        
        background: #e0e0e0;
        box-shadow:  26px 26px 51px #989898,
                    -26px -26px 51px #ffffff;
        border: 0.2px solid rgba(0, 0, 0, 0.155);
    }

    .actual {
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }
/* 
    .sample {
        height: 30px;
        width: 30px;

        background-color: rgb(255, 0, 0);
    } */
    
   
    .contadores {
        margin-top: 2rem;;
        display: flex;
        gap: 4rem;

        font-size: 1.5rem;
    }

    .contadores > * {
        text-align: center;
        border: 0.1px solid black;
        padding: 1rem;
        box-shadow: 5px 5px 5px #0000007a;
        width: 180px;
    }



.contador {
    border: 0.1px solid rgba(212, 212, 212, 0.25);
        background: linear-gradient(187deg, transparent 0%, rgba(0,0,0,0.32) 100%);
        border: 0.2px solid rgba(0, 0, 0, 0.155); 
    }





    /* ========================================================================= */
    /* ========================================================================= */
    
    /** ASIDE Y ELEMENTOS */

    
    
    main{
        grid-area: main;
    }

    .gridPadre{
        display: grid;
        grid-area: gird-padre;

        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows:  repeat(4 , 1fr);

        justify-content: center;

        padding: 5%;

        /* solo añadi el gap para probar el reinicio de colores */
        gap: 10px; 
    }
    
    .colorElegible{
        background-color: pink;
        border: 1px solid black;
        padding: 8px; 
        font-size: 30px;
        font-weight: bold;
        font-size: 20px;
    }

    button.colorElegible:hover{
        animation: reboteMouse 0.2s forwards; 
    }

    @keyframes reboteMouse {
        0%{ scale: 100%;
        }100%{  scale: 102%; }
    }

    /* .puntaje {
         height: 100px; 
         width: 300px; 
         background-color: rgba(0, 0, 0, 0.22);
         font-family: 'Bungee Spice', sans-serif;
         text-align: center; 
         display: flex; 
         justify-content: center; 
         align-items:center; 
         position:absolute;
         left:50%;top:50%; 
         translate: -50% -50%;
         animation: expandirYRebotar 0.2s ease-in-out; 
    }

    @keyframes expandirYRebotar {
        0% {
          opacity: 0; 
          transform: scale(0); 
        }
        50% {
          opacity: 1; 
          transform: scale(1.2); 
        }
        100% {
          transform: scale(1); 
        }
      } */



    
    .puntaje { 
        /* height: 10rem;*/
        /* background-color: rgba(0, 0, 0, 0.22); */
        text-shadow: 1px 1px 10px whitesmoke;
        font-family: 'Bungee Spice', sans-serif;
        width: 40%; 
        
        display: flex;
        flex-direction: row;

        text-align: center;
        justify-content:center;
        align-items: center;
        position: absolute;

        left: 27%;
        top: 20%;
        translate: -50% -50%;
        font-size: 60%;
        animation: expandirYRebotar 0.2s ease-in-out; 
    }

    @keyframes expandirYRebotar {
        0% {
          opacity: 0; 
          transform: scale(0); 
        }
        50% {
          opacity: 1; 
          transform: scale(1.2); 
        }
        100% {
          transform: scale(1); 
        }
      }

     @keyframes zoom-rebote {
    
        0%{scale: 0%;
        }50%{scale: 120%;
        }100%{
            scale: 100%;
        }
    }
    
    /* .puntaje > h1{
        text-shadow: 0 0 2px red;
    } */


/*? ========================================================================= */
/*? ========================================================================= */
    
    /*? Estilos caja fin del juego */

    /* Hace overflow (saca barra de scroll)  */

div.fin {
    position: absolute;
    height: 99.99vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 0px;

}

.mensajeFin {
    height: 30%;
    width: 45%;

    display: flex;
    flex-direction: column;


    padding-top: 0px;
    padding-bottom: 20px;

    align-items: center;
    /* gap: 1rem; */
    
    background-color: rgba(219, 219, 219, 0.664);
    border-radius: 20px;
    animation: rebote 0.5s ease-in-out;
}

div.mensajeFin.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    animation: expandir 2s ease-in-out; 
    width: auto;
    padding: 2rem;
}

@keyframes expandir {
    0% {
      opacity: 0; 
      transform: scale(0); 
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
  }

/* ESTILOS MENSAJE VICTORIA - CONTINUAR _________________________________________ */
#finGanar > div.mensajeFin {
    gap: 0.5rem;
    height: 300px;
    border-radius: 20px
}
.mensajeFin > h2{
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 100%;
    width: 101%;
    border-radius: 20px 20px 0px 0px;
}


.text_fin{
    font-weight: bold;
    margin-top: 1rem;
}


#derrotaTxt {
    font-weight: bold;

    margin-top: 1rem;
}

.button_color{
    margin-top: 1rem;
    border: none;
    padding: 0.75rem;
    border-radius: 10%;
}

/* Ocultar */

div.oculto {
    display: none;
}

#finGanar > div.mensajeFin {
    gap: 0.5rem;
    height: 300px;
}
div.mensajeFin > div{
    display: flex;
    justify-content: space-around;
    width: 70%;
    /* background-color: red; */
}




@media (max-width: 848px) {
    body {
        display: flex;
        flex-direction: column; 
    }

    .gridPadre {
        height: 100%;
    }

    header {
        height: 15%;
    }

    .puntaje {
        height: 100px; 
        width: 300px; 
        font-family: 'Bungee Spice', sans-serif;
        text-align: center; 
        display: flex; 
        justify-content: center; 
        align-items:center; 
        left:50%;top:50%; 
        animation: expandirYRebotar 0.2s ease-in-out; 
   }

   .cartel {
    font-size: 22px;
   }

   main {
    height: 90%;
   }

   aside {
    height: 10%;
   }
}